In [1]:
print("In this notebook we will learn about functions")

In this notebook we will learn about functions

# Functions
## Definition:-
### It is a block of codes to perform specific task

In [2]:
#defining
#def functionname():
#    block of code
def sum(a,b):
    c=a+b
    print(c)
#calling
#functionname()
sum(10,20)

30

In [3]:
n1=int(input("enter any number: "))
n2=int(input("enter any number: "))
sum(n1,n2)

enter any number:  10
enter any number:  40

50

In [4]:
# 1. without parameter without returntype
# 2. with parameter without returntype
# 3. without parameter with returntype
# 4. with parameter with returntype

In [1]:
#without parameter without returntype 
def sum():
    a=int(input("enter any number: "))
    b=int(input("enter any number: "))
    c=a+b
    print(c)

In [2]:
sum()

enter any number:  10
enter any number:  20

30

In [3]:
#without parameter with returntype
def diff():
    a=int(input("enter any number: "))
    b=int(input("enter any number: "))
    c=a-b
    return c

In [4]:
print(diff())

enter any number:  10
enter any number:  8

2

In [5]:
#with parameter without returntype
def mult(a,b):
    c=a*b
    print(c)

In [6]:
mult(10,2)

20

In [7]:
#with parameter with returntype
def div(a,b):
    c=a/b
    return c

In [8]:
n1=int(input("enter any number: "))
n2=int(input("enter any number: "))
div(n1,n2)

enter any number:  10
enter any number:  2

5.0

In [9]:
#optional parameter
def sum(a,b=10):
    c=a+b
    return c

In [10]:
sum(50)

60

In [11]:
def sort_list(l,reverse=False):
    if reverse==False:
        for i in range(len(l)):
            for j in range(i+1,len(l)):
                if l[i]<l[j]:
                    l[i],l[j]=l[j],l[i]
                    return l
    else:
        for i in range(len(l)):
            for j in range(i+1,len(l)):
                if l[i]>l[j]:
                    l[i],l[j]=l[j],l[i]
                    return l

In [12]:
def leap_year(year):
    if year%4==0:
        if year%100==0:
            if year%400==0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

In [13]:
year1=int(input("enter any year: "))
if leap_year(year1):
    print(year1,"leap year")
else:
    print(year1,"not a leap year")

enter any year:  1900

1900 not a leap year

In [25]:
# wap to return whether a given number is prime or not
def prime_number(n):
    if n>1:

In [28]:
print(prime_number(8))

8

In [29]:
#wap that return fibonacci upto n term
def fibo(n):
    if n==0:
        return 0
    elif n==2:
        return [0,1]
    fib=[0,1]
    next_term=fib[-1]+fib[-2]
    fib.append(next_term)
    return fib[-1]

In [8]:
fibonacci_series()

how many terms?:  4

0 1 1 2